<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs", {titulo: "productos"}) %> 
</head>
<body>
    <%- include("../partials/navbar.ejs") %> 
   <h1>Lista de productos</h1>
   <a href="/products/create">Añadir producto</a>
</body>
</html>